language = "python3"
run = "python routes.py"
modules = ["python-3.12", "web", "nix"]

[deployment]
run = ["sh", "-c", "python routes.py"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
